<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersistenceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Rage.Addservice.Host/PersistenceService/PersistenceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersistenceService"
                contract="ServiceReference1.IPersistenceService" name="BasicHttpBinding_IPersistenceService" />
        </client>
    </system.serviceModel>
</configuration>