<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <system.serviceModel>
    <client>
      <endpoint address="http://192.168.112.133:8080/axis2/services/TwitterWS.TwitterWSHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="TwitterWSSoap11Binding"
        contract="TwitterWS.TwitterWSPortType" name="TwitterWSHttpSoap11Endpoint" />
      <endpoint address="http://192.168.112.133:8080/axis2/services/TwitterWS.TwitterWSHttpSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="TwitterWSSoap12Binding"
        contract="TwitterWS.TwitterWSPortType" name="TwitterWSHttpSoap12Endpoint" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Rage.Addservice.Host.PersistenceService.PersistenceServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="LargeBuffer" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="TwitterWSSoap11Binding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="TwitterWSSoap12Binding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />

    <services>
      <service behaviorConfiguration="Rage.Addservice.Host.PersistenceService.PersistenceServiceBehavior"
        name="Rage.Addservice.Host.PersistenceService.PersistenceService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeBuffer" contract="Rage.Addservice.Host.PersistenceService.IPersistenceService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
    </services>

    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
                      logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
                      maxMessagesToLog="1000000" maxSizeOfMessageToLog="4194304" />
    </diagnostics>

  </system.serviceModel>
</configuration>
